li {
    background-color: rgb(250, 158, 52);
}

.delete-btn {
  background-color:rgb(207, 40, 40);
  color: whitesmoke;
  border-radius: 5px;
  padding: 12px 28px;
}

.main {
  display: flex;
  flex-direction: row;
}

.tasks-with-details {
  display: flex;
  flex-direction: column;
}
