<button class="add-btn" *ngIf="!toggled" type="button"
  (click)="toggleButton()">
  Add a new Task
</button>

<form *ngIf="toggled" [formGroup]="addTaskForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="name">Name:</label>
    <input id="name"
      formControlName="name"
      placeholder="Task's name"
      name="name"
      class="form-control">
  </div>

  <div class="form-group">
    <label for="location">Location:</label>
    <input id="location"
      formControlName="location"
      placeholder="Where?"
      name="location"
      class="form-control">
  </div>

  <div class="form-group">
    <label for="description">Description:</label>
    <input id="decription"
      formControlName="description"
      placeholder="What is it?"
      name="description"
      class="form-control">
  </div>

  <div class="form-group">
    <label for="startDate">Start Date:</label>
    <input id="startDate"
      type="date"
      formControlName="startDate"
      name="startDate"
      class="form-control">
  </div>

  <div class="form-group">
      <label for="endDate">End Date:</label>
      <input id="endDate"
        type="date"
        formControlName="endDate"
        name="endDate"
        class="form-control">
  </div>

  <button class="submit">
    Create
  </button>

  <button class="cancel"
    type="button"
    (click)="toggleButton()">
      Hide
  </button>
</form>
