<div>

  <h2>{{task.name | uppercase}} Details</h2>

  <div class="input-group">
      <label for="name">Name:</label>
        <input [(ngModel)]="task.name"
          placeholder="Task's name"
          name="name">
    </div>

  <div class="input-group">
    <label for="location">Location:</label>
      <input [(ngModel)]="task.location"
        placeholder="Where?"
        name="location">
  </div>

  <div class="input-group">
    <label for="description">Description:</label>
      <input [(ngModel)]="task.description"
        placeholder="What is it?"
        name="description">
  </div>

  <div class="input-group">
    <label for="startdate">Start Date:</label>
    <input [(ngModel)]="task.startDate"
      placeholder="When does it start?"
      name="startdate">
  </div>

  <div class="input-group">
    <label for="enddate">End Date:</label>
      <input [(ngModel)]="task.endDate"
        placeholder="When should it end?"
        name="enddate">
  </div>

</div>
